.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  background-color: #f9f9f9;
  text-align: left;
  padding: 0px 4px 0 8px;
  display:flex;
}

#header #brand {
  margin-top: 15px;
  float: left;
  outline: none;
  margin-right: 5px;
}

#menu-teardowns {
  color: #63a5ca;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #63a5ca;
}

#menu-teardowns.secondary {
	background-color: #90C9E2;
}

/* line 119, ../../../../sass/layout.scss */
#menu-teardowns div.title {
  height: 20px;
  display: block;
  font-size: 1.3rem;
  text-align: center;
  cursor: default;
  margin-top: 5px;
}
@media (max-width: 992px) {
  /* line 119, ../../../../sass/layout.scss */
  #menu-teardowns div.title {
    height: 25px;
    font-size: 2.2rem;
  }
}
/* line 131, ../../../../sass/layout.scss */
#menu-teardowns > ul {
  list-style-type: none;
}
/* line 134, ../../../../sass/layout.scss */
#menu-teardowns > ul li {
  position: relative;
  display: inline-block;
}
/* line 137, ../../../../sass/layout.scss */
#menu-teardowns > ul li a {
  display: block;
  padding: 5px 4px;
  font-family: "Open Sans Condensed", sans-serif;
  outline: none;
}
/* line 142, ../../../../sass/layout.scss */
#menu-teardowns > ul li a:hover {
  color: #d8e8f9;
}
/* line 145, ../../../../sass/layout.scss */
#menu-teardowns > ul li a.active {
  border-bottom: solid 2px #68CAFF;
  color: #028179;
}
/* line 149, ../../../../sass/layout.scss */
#menu-teardowns > ul li a.highlight {
  color: #b32f19;
}
/* line 156, ../../../../sass/layout.scss */
#menu-teardowns a {
  text-decoration: none;
  color: white;
}
@media (max-width: 992px) {
  /* line 180, ../../../../sass/layout.scss */
  #menu-teardowns {
    margin: 0px;
    width: 100%;
    font-size: 2.1rem;
    text-align: center;
  }
}